In [1]:
import pandas as pd

In [2]:
import os
def load_universe():
    path_to_data = os.path.join(os.path.dirname("__file__"), './data/constituents.csv')
    return pd.read_csv(path_to_data)

In [3]:
df = load_universe()

In [4]:
df.head()

  Symbol                 Name                  Sector
0    MMM           3M Company             Industrials
1    AOS      A.O. Smith Corp             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV          AbbVie Inc.             Health Care
4    ACN        Accenture plc  Information Technology

In [9]:
df['Symbol']

0        MMM
1        AOS
2        ABT
3       ABBV
4        ACN
5       ATVI
6        AYI
7       ADBE
8        AAP
9        AMD
10       AES
11       AET
12       AMG
13       AFL
14         A
15       APD
16      AKAM
17       ALK
18       ALB
19       ARE
20      ALXN
21      ALGN
22      ALLE
23       AGN
24       ADS
25       LNT
26       ALL
27     GOOGL
28      GOOG
29        MO
       ...
475     VRTX
476     VIAB
477        V
478      VNO
479      VMC
480      WMT
481      WBA
482       WM
483      WAT
484      WEC
485      WFC
486     WELL
487      WDC
488       WU
489      WRK
490       WY
491      WHR
492      WMB
493     WLTW
494      WYN
495     WYNN
496      XEL
497      XRX
498     XLNX
499       XL
500      XYL
501      YUM
502      ZBH
503     ZION
504      ZTS
Name: Symbol, Length: 505, dtype: object

In [5]:
df.head()

  Symbol                 Name                  Sector
0    MMM           3M Company             Industrials
1    AOS      A.O. Smith Corp             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV          AbbVie Inc.             Health Care
4    ACN        Accenture plc  Information Technology